body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-header {
    font-size: 45px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 4px;
}

.webmapp-header {
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: left;
    width: 100%;
}

.webmapp-header h2 {
    font-size: 1.5rem;
    margin: 0;
}

.quote-details {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
.quote-details th {
    font-size: 1.3rem;
}

.quote-details th,
.quote-details td {
    border: none;
    padding: 1rem;
    background-color: white;
    text-align: center;
}
li {
    list-style: none;
    margin: 10px;
}

.tables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-services-table {
    margin: auto;
}

.products-table h2,
.recurring-products-table h2,
.additional-services-table h2,
.summary-table h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}

th,
td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    background-color: #f2f2f2;
}

.summary-table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.no-elements {
    text-align: center;
    font-size: 30px;
    color: red;
}
