body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.webmapp-header {
    padding-bottom: 20px;
    text-align: right;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.webmapp-details {
    font-size: 10px;
    line-height: 0.9rem;
}
.header-space {
    height: 200px;
    width: 100%;
}
.footer-space {
    height: 100px;
    width: 100%;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    align-self: flex-end;
}
.customer-details-page {
    display: flex;
    flex-direction: column;
}
.customer-details {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: rgba(23, 22, 22, 0.795);
    margin-right: 30px;
    font-weight: bold;
    line-height: 0.9rem;
    right: 0;
}

.customer-details h3 {
    font-size: 14px;
    text-align: center;
    color: gray;
    font-style: italic;
    margin-bottom: 40px;
}

.subject-container {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgba(23, 22, 22, 0.795);
    align-self: flex-start;
    font-weight: bold;
    line-height: 0.5cm;
}

.subject-container h4 {
    font-weight: normal;
    margin-top: 100px;
}
.service-description {
    page-break-after: always;
    page-break-inside: auto;
}

.service-description h2 {
    color: #005485;
}
.service-details {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2rem;
    word-wrap: break-word;
}

p.indent-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2rem;
    word-wrap: break-word;
}

p.indent-heading-customer {
    line-height: 0.9rem;
}

.table-header-style {
    color: #005485;
    font-weight: bold;
}
th {
    color: #005485;
    font-weight: bold;
    background-color: transparent;
}

.td {
    padding: 8px;
    /* text-align: right; */
    vertical-align: top;
    border: none;
    border-bottom: 1px solid #ddd;
}
.webmapp-footer {
    margin-top: 10px;
    width: 70%;
    font-weight: 200;
    text-align: center;
    color: rgba(189, 183, 183, 0.737);
    height: 115px;
    position: fixed;
    bottom: 0;
    width: 100%;
    print-color-adjust: exact;
    border: 1px solid black;
}
.no-elements {
    text-align: center;
    font-size: 30px;
    color: red;
}

.td-placeholder {
    border: none;
}

.aligned-right {
    text-align: right;
}

.delivery-time {
    align-self: flex-end;
    margin-bottom: 2cm;
}

.payment-plan {
    align-self: flex-end;
}

.products-and-services-page {
    page-break-before: always;
    page-break-inside: avoid;
}
.recurring-products-page {
    page-break-before: always;
    page-break-inside: auto;
}

@media print {
    @page {
        size: A4;
        margin: 4mm;
        padding-top: 500px;
        padding-bottom: 500px;
        break-inside: avoid;
    }
    .products-and-services-page {
        page-break-before: always;
        page-break-inside: auto;
    }
    .recurring-products-page {
        page-break-before: always;
        page-break-inside: auto;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    thead {
        display: table-header-group;
    }
    tfoot {
        display: table-footer-group;
    }

    .customer-details {
        line-height: 0.2cm;
        align-self: flex-end;
    }
}
