header {
    position: fixed;
    z-index: 998;
    width: 100%;
}
nav[aria-label="breadcrumb"] {
    position: fixed;
    z-index: 999;
    width: 70%;
    font-size: 0.7rem;
    padding: 5px;
    text-align: center;
    top: 10px;
}
nav[aria-label="breadcrumb"] ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    nav[aria-label="breadcrumb"] {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .sidebar-menu {
        position: fixed;
        z-index: 999;
    }
}
